html, body, #root, #container, .leaflet-container {
  height: 100%;
  width: 100vw;
}

#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

#menu.menu-button {
  margin-right: 10px;
}